ul.nav
  li(ng-class="getClass('/todo')")
    a(ng-href='#/todo') todo
  li(ng-class="getClass('/view1')")
    a(ng-href='#/view1') view1
  li(ng-class="getClass('/view2')")
    a(ng-href='#/view2') view2
