!!! 5
html(lang='en', ng-app='app')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width', initial-scale='1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title(ng-bind-template='{{pageTitle}}')
    link(rel='stylesheet', href='css/app.css')
    //-script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    //if lte IE 7
      script(src='http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js')
    //if lte IE 8
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
    script.
      window.brunch = window.brunch || {};
      window.brunch['auto-reload'] = {
        enabled: true
      };
    script(src='js/vendor.js')
    script(src='js/partials.js')
    script(src='js/app.js')
  body(ng-controller='AppCtrl')
    .wrapper
      .navbar.navbar-static-top
        .navbar-inner
          .container
            button.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='/').brand Angular Brunch Seed
            .nav-collapse
              div(ng-include="'/partials/nav.html'")
      .container.main-content
        div(ng-view)
        div Angular Brunch seed app: v<span app-version></span>
      .push

    footer.footer
      .container
        p
          small
            a(href='https://github.com/scotch/angular-brunch-seed') angular-brunch-seed | source
